div{
    border-style: 1px solid rgb(121, 104, 104);
    padding: 10px;
}

/* CONTENEDOR GRANDE */
#principal{
    width: 400px;
    margin: 50px auto;
}

/* TARJETA */
#centro{
    display: flex;
    align-items: center;
}

/* FOTO */
#foto{
    width: 15%;
}

#foto img{
    width: 100%;
    border-radius: 50%;
}

/* TEXTO */
#nombre{
    width: 70%;
    padding-left: 10px;
}

/* ICONO */
#info{
    width: 15%;
    text-align: right;
    font-size: 20px;
}