*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f2f5fb;
}

nav{
    background-color: #e7efff;
    padding: 10px;
    border-bottom: 1px solid #b9c8ee;
}

nav div{
    display: inline-block;
}

.izq{
    width: 30%;
}

.centro{
    width: 39%;
    text-align: center;
}

.der{
    width: 30%;
    text-align: right;
}

.general{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.titulo-arriba{
    font-size: 11px;
    color: gray;
    margin-bottom: 10px;
}

h1{
    font-size: 26px;
    margin-bottom: 20px;
}

.banner{
    width: 38%;
    margin-bottom: 25px;
}

.contenedor{
    margin-bottom: 25px;
}

.buscador{
    width: 75%;
    display: inline-block;
    background-color: white;
    border: 1px solid #cfd9ef;
    padding: 12px;
    text-align: left;
    color: gray;
    border-radius: 20px;
}

.categorias{
    width: 18%;
    display: inline-block;
    background-color: white;
    border: 1px solid #cfd9ef;
    padding: 12px 0px;
    border-radius: 20px;
    color: #1f5eff;
}

.cards{
    margin-bottom: 30px;
}

.fila{
    margin-bottom: 10px;
}

.card{
    width: 15%;
    height: 85px;
    display: inline-block;
    background-color: white;
    border: 1px solid #d7dff2;
    margin: 5px;
    vertical-align: top;
}

.card img{
    width: 90%;
    height: 60px;
    margin-top: 12px;
}

.info{
    background-color: white;
    border: 1px solid #d7dff2;
    padding: 25px 15px;
}

.info h2{
    margin-bottom: 20px;
    font-size: 22px;
}

.icono{
    width: 22%;
    display: inline-block;
    background-color: #eef3ff;
    border: 1px solid #d7dff2;
    padding: 15px 0px;
    margin: 5px;
}

.descarga{
    background-color: #dbe6ff;
    padding: 20px;
    margin-top: 20px;
}

.texto-app{
    width: 48%;
    display: inline-block;
    text-align: left;
}

.boton-app{
    width: 18%;
    display: inline-block;
    background-color: #133b98;
    color: white;
    padding: 10px 0px;
    margin-left: 10px;
}

footer{
    background-color: #0f47b7;
    color: white;
    padding: 20px;
}

.footer-superior{
    margin-bottom: 12px;
}

.footer-superior div{
    width: 24%;
    display: inline-block;
}

.footer-inferior div{
    width: 49%;
    display: inline-block;
}
